In [88]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import geopandas as gpd
from shapely.geometry import Point
import logging

In [4]:
logger = logging.getLogger(__name__)

In [5]:
BASIC_FORMAT = "%(asctime)s-%(levelname)s-%(message)s"
chlr = logging.StreamHandler()
chlr.setFormatter(logging.Formatter(BASIC_FORMAT))
logger.setLevel('DEBUG')
logger.addHandler(chlr)

In [8]:
rental_conn = create_engine("postgresql://postgres:gallon1995@localhost/blackhead")

In [10]:
rental_query = """
  select *
  from rental.rentals_info f1
"""
df_rentals_info = pd.read_sql(rental_query, con=rental_conn)

In [14]:
df_rentals_info.kind.unique()

array(['獨立套房', '整層住家', '車位', '其他', '雅房', '分租套房'], dtype=object)

In [17]:
df_rentals_info = df_rentals_info.query(f'kind in ("獨立套房", "雅房", "分租套房")').reset_index(drop=True)

In [39]:
rental_query = """
  select f1.id, 1 as limit_female
  from rental.rentals_info f1
  where f1.kind in ('獨立套房', '雅房', '分租套房')
  and ( 
      (f1.rule like '%%限女生%%') or 
      (
          (f1.title like '%%限女%%') or 
          ((f1.title like '%%女生%%') and (f1.title not like '%%男生%%'))
      ) or
      (f1.content like '%%限女%%')
  )
  and f1.rule not like '%%限男生%%'
  and f1.content not like '%%限男%%'
"""
df_rentals_info_female = pd.read_sql(rental_query, con=rental_conn)

rental_query = """
  select f1.id, 1 as limit_male
  from rental.rentals_info f1
  where f1.kind in ('獨立套房', '雅房', '分租套房')
  and ( 
      (f1.rule like '%%限男生%%') or 
      (
          (f1.title like '%%限男%%') or 
          ((f1.title like '%%男生%%') and (f1.title not like '%%女生%%'))
      ) or
      (f1.content like '%%限男%%')
  )
  and f1.rule not like '%%限女生%%'
  and f1.content not like '%%限女%%'
"""
df_rentals_info_male = pd.read_sql(rental_query, con=rental_conn)

In [40]:
df_rentals_info_female[df_rentals_info_female.id.isin(df_rentals_info_male.id)]

Empty DataFrame
Columns: [id, limit_female]
Index: []

In [43]:
df_rentals_info = df_rentals_info.merge(df_rentals_info_female, how='left')
df_rentals_info.limit_female.fillna(0, inplace=True)
df_rentals_info = df_rentals_info.merge(df_rentals_info_male, how='left')
df_rentals_info.limit_male.fillna(0, inplace=True)

In [45]:
df_rentals_info.groupby(['kind']).agg({'id': 'count', 'limit_female': 'sum', 'limit_male': 'sum'})

        id  limit_female  limit_male
kind
分租套房  2336         328.0        41.0
獨立套房  4788         422.0        58.0
雅房    1249         495.0       159.0

In [49]:
df_rentals_info_region = df_rentals_info.groupby(['townname']).agg(
    {'id': 'count', 'limit_female': 'sum', 'limit_male': 'sum'}).reset_index()

In [51]:
df_rentals_info_region.columns = ['townname', 'cnt', 'female_cnt', 'male_cnt']

In [71]:
def generate_rate(row):
  if (row.cnt < 50):
    return np.nan
  elif (row.female_cnt + row.male_cnt) / row.cnt < 0.1:
    return np.nan
  elif (row.female_cnt == 0):
    return 0
  elif (row.male_cnt == 0):
    return 1000
  else:
    return row.female_cnt/row.male_cnt * 100

In [72]:
df_rentals_info_region['ratio'] = df_rentals_info_region.apply(
    lambda x: generate_rate(x), axis=1)

In [130]:
df_rentals_info_region.sort_values(by=['ratio'], ascending=[False])

   townname  cnt  female_cnt  male_cnt        ratio
32      蘆洲區  151        28.0       1.0  2800.000000
19      松山區  304        64.0       3.0  2133.333333
20      板橋區  676       113.0      11.0  1027.272727
21      林口區   56        10.0       1.0  1000.000000
3       中和區  398        60.0       7.0   857.142857
10      北投區  148        24.0       3.0   800.000000
14      大同區  238        22.0       3.0   733.333333
18      新莊區  258        41.0       6.0   683.333333
13      士林區  374        68.0      10.0   680.000000
15      大安區  690       128.0      20.0   640.000000
2       三重區  451        53.0      10.0   530.000000
7       信義區  503        98.0      20.0   490.000000
5       中正區  458        64.0      14.0   457.142857
17      新店區  255        65.0      15.0   433.333333
4       中山區  777        81.0      20.0   405.000000
12      土城區  141        20.0       5.0   400.000000
8       內湖區  396        65.0      21.0   309.523810
11      南港區  168        25.0       9.0   277.777778
24      汐止區  255        21.0       9.0   233.333333
16      文山區  312        58.0      26.0   223.076923
23      永和區  284        55.0      26.0   211.538462
0       三峽區   47         5.0       0.0          NaN
1       三芝區   26         2.0       0.0          NaN
6       五股區   33         4.0       0.0          NaN
9       八里區   23         0.0       2.0          NaN
22      樹林區   66         4.0       2.0          NaN
25      泰山區   76         6.0       0.0          NaN
26      淡水區  398        29.0       7.0          NaN
27      深坑區   37         4.0       1.0          NaN
28      烏來區    1         0.0       0.0          NaN
29      瑞芳區    5         1.0       0.0          NaN
30      萬華區  331        26.0       5.0          NaN
31      萬里區   10         0.0       1.0          NaN
33      金山區    5         0.0       0.0          NaN
34      鶯歌區   22         1.0       0.0          NaN

In [139]:
def price_cut(p):
  if p < 6000:
    return '0_<6000'
  elif p < 8000:
    return '1_6000_8000'
  elif p < 10000:
    return '2_8000_10000'
  elif p < 12000:
    return '3_10000_12000'
  elif p < 14000:
    return '4_12000_14000'
  elif p < 16000:
    return '5_14000_16000'
  elif p < 18000:
    return '6_16000_18000'
  elif p < 20000:
    return '7_18000_20000'
  elif p < 22000:
    return '8_20000_22000'
  else:
    return '9_>=22000'

In [140]:
df_rentals_info['price_cut'] = df_rentals_info.price.apply(lambda x: price_cut(x))

In [141]:
df_rentals_info.groupby(['price_cut']).agg(
    {'id': 'count', 'limit_female': 'sum', 'limit_male': 'sum'}).reset_index()

       price_cut    id  limit_female  limit_male
0        0_<6000   678         168.0        84.0
1    1_6000_8000  1502         377.0        91.0
2   2_8000_10000  1670         293.0        45.0
3  3_10000_12000  1057         143.0        18.0
4  4_12000_14000  1027         152.0        15.0
5  5_14000_16000   671          60.0         2.0
6  6_16000_18000   453          23.0         0.0
7  7_18000_20000   333          13.0         2.0
8  8_20000_22000   182           5.0         0.0
9      9_>=22000   800          11.0         1.0

In [86]:
gdf_mrt_line = gpd.read_file('data/捷運_1100406/MRT_1100406.shp', encoding='utf-8')
gdf_mrt_station = pd.read_excel('data/捷運_1100406/捷運站經緯度.xlsx')

In [89]:
geom = [Point(data.lon, data.lat) for idx, data in gdf_mrt_station.iterrows()]
crs = {'init': 'epsg:4326'}
gdf_mrt_station = gpd.GeoDataFrame(gdf_mrt_station, crs=crs, geometry=geom)

c:\Users\User\anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [91]:
geom = [Point(data.lon, data.lat) for idx, data in df_rentals_info.iterrows()]
crs = {'init': 'epsg:4326'}
df_rentals_info = gpd.GeoDataFrame(df_rentals_info, crs=crs, geometry=geom)

c:\Users\User\anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [127]:
df_rentals_info['is_gender'] = ((df_rentals_info.limit_female +
                df_rentals_info.limit_male) > 0).astype('int')

In [128]:
df_rentals_info['is_gender'].sum() / len(df_rentals_info)

0.17950555356503045

In [129]:
df_rentals_info.limit_female.sum() / df_rentals_info.limit_male.sum()

4.825581395348837

In [93]:
gdf_mrt_station = gdf_mrt_station.to_crs(epsg=3826)

In [96]:
gdf_mrt_station['geometry'] = gdf_mrt_station.buffer(1000)

In [97]:
gdf_mrt_station = gdf_mrt_station.to_crs(epsg=4326)

In [108]:
df_rentals_mrt = gpd.sjoin(gdf_mrt_station, df_rentals_info.to_crs(
    gdf_mrt_station.crs), op='intersects').reset_index(drop=True)

In [112]:
df_rentals_mrt_result = df_rentals_mrt.groupby(['station_name_tw']).agg(
    {'id': 'count', 'limit_female': 'sum', 'limit_male': 'sum'}).reset_index()

In [114]:
df_rentals_mrt_result.columns = ['station_name_tw', 'cnt', 'female_cnt', 'male_cnt']

In [120]:
def generate_rate(row):
  if (row.cnt < 30):
    return np.nan
  # elif (row.female_cnt + row.male_cnt) / row.cnt < 0.1:
  #   return np.nan
  elif (row.female_cnt == 0):
    return 0
  elif (row.male_cnt == 0):
    return 1000
  else:
    return row.female_cnt/row.male_cnt * 100

In [121]:
df_rentals_mrt_result['ratio'] = df_rentals_mrt_result.apply(
    lambda x: generate_rate(x), axis=1)

In [144]:
df_rentals_mrt_result = df_rentals_mrt_result.sort_values(by=['ratio'], ascending=[False]).reset_index(drop=True)

In [145]:
df_rentals_mrt_result.to_excel('df_rentals_mrt_result.xlsx', index=0)

In [149]:
df_rentals_mrt_result = df_rentals_mrt_result.merge(gdf_mrt_station[['station_name_tw', 'line_name', 'color']])

In [124]:
df_rentals_mrt_result.sort_values(by=['cnt'], ascending=[False]).head(10)

    station_name_tw   cnt  female_cnt  male_cnt        ratio
34             台北車站  1094        58.0      19.0   305.263158
7                中山  1060        54.0      12.0   450.000000
86             民權西路   730        50.0       6.0   833.333333
110              西門   706        38.0       8.0   475.000000
81             松江南京   700        60.0      14.0   428.571429
30               古亭   640       134.0      22.0   609.090909
58             忠孝復興   526        82.0       6.0  1366.666667
117              雙連   498        27.0       7.0   385.714286
25             南京復興   432        80.0      10.0   800.000000
78               東門   414        68.0      22.0   309.090909